go 1.24.4

use (
	./cmd/kafka-producer
	./pkg/errors
	./pkg/grpclib
	./pkg/httplib
	./pkg/logger
	./pkg/migration
	./pkg/migration-pg
	./pkg/postgresql
	./pkg/questdb
	./pkg/redis
	./pkg/util
	./proto
	./rpc-gateway
	./services/market-data
	./services/matching-engine
	./services/order-management
)
